.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.blog {
  margin-top:400px ;
  text-align: left;
  border: solid black 1px ;
  min-height: 200px;
  align-items: center;
  line-height: 35px;
  justify-content: center;
  font-size: auto;
  color: black;

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
